/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Source+Sans+3:wght@200;300;500&display=swap');
    html{
        font-size: 62.5% ;
        scroll-behavior: smooth;
    }
    body{
        font: 1.6rem 'Source Sans 3',sans-serif;
         margin: 0;
         background: url("../asset/R\ \(1\).jpg")no-repeat fixed center center / cover;
    
      
    }

    h1, h2, h3, h4, p, figure, ul,ol { 

        margin: 0;
        padding: 0;
        list-style-type: none;
        box-sizing: border-box;
    } 
 /*Theme*/
:root{
    --color-primary:#0b2a3334;
    --color-secondary: #ffffff;
    --color-main: #ffffff3a;
    --color-text: #ffffff;

    }
    
.logo{
    width: 10rem;
    height: 10.0rem;
}
.nav{
    background-color: #000000;
    overflow: hidden;
    
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.7rem; /* 1px 0.1rem*/
    transition: all 500ms ease-in-out;
  }

.nav a:hover {
    background-color: #ffffff;
    color: #000;
}

.nav a.active {
    background-color: #0000003f;
    color: #ffffff;
}
header{
    position: relative;
    
}
header h1 {
    text-align: center;
    line-height: 6.5rem;
    padding: 2rem 0;
    
}
header h1, section h2{
    line-height: 3.5rem;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-weight: 300;
    text-shadow: .1rem .1rem 0 var(--color-default-global);
}



section h2{
    padding-left: 1.0rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 1.0rem rgba(5, 42, 255, 0.527);

}

header img{
    top: 1.5rem;
    left: 1.0rem;
    position: absolute;
    display: inline-block;
    width: 4.4rem;
    height: 4.4rem;
    object-fit: cover;
    vertical-align: middle;
    z-index: 1;

}
main{
    margin: 0 auto;
    margin-top: 10rem;
 

}

main .section-log ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4;
    text-align: center;
}

.section-exp ul li{
    display: block;
    width: 100%;
}
.section-study ul{
    line-height: 3.5rem;
}

main p{
    margin-top: 15%;
    margin-bottom: 15%;
}
footer{ 
    margin:0 auto; 
    margin-top: 10rem;
    width:700px; 
    display: block; 
    text-align: center; 
    box-shadow: 0 0 1.0rem rgba(5, 42, 255, 0.527);

}

main,footer{
    max-width: 120.0rem;
    background-color: var(--color-main);
    padding: 1rem;
   
}
section{
    margin-bottom: 50px;
}
.section-footer p{
    text-align: center;
}
footer h2{
    text-align: center;
}

@media screen and (max-width: 40rem) {
    main{
        margin: 0 1%;
    }
    header h1{
        font-size: x-large;
    }
    
header img{
    margin: 1% auto;
    position: static;
    display: block;
    width: 4.4rem;
    height: 4.4rem;
 

}
    main, footer {
        margin: 0;
        width:  auto;
    }
    main section h2{
        margin: 0;
    }
    main .section-log ul{
    
        grid-template-columns: repeat(2, 1fr);
      
        text-align: center;
    }

    nav ul{
        width: auto;
        margin: 0;
        display: block;

    }
    .nav a {
        float: none;
        color: #f2f2f2;
        text-align: left;
        display: block;
        width: 100%;
        border-bottom: solid #b48cf3 .1rem;
      
      }
    
}

@media screen and (orientation: landscape){
    main .section-log ul{
    
        grid-template-columns: repeat(4, 1fr);
      
        text-align: center;
    }
}